:root {
  --color-primary: #7ae869;
  --color-secondary: #69b8e8;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/pokemon.png");
  font-family: 'Faustina', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16 pixels */
  line-height: 1.6;
  /* Sets the line height to 1.6 */
}

button {
  border: none;
  display: inline-block;
  float: none;
  font-family: inherit;
  background-color: var(--color-primary);
  width: 75%;
  min-width: 70px;
  max-width: 135px;
  padding: 5px;
  border-radius: 2px;
  margin: 3px;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

#pokemon-container {
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: none;
  text-align: center;
}

#pokemon-container.is-visible {
  display: block;
}

.pokebox {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: black;
  border: 2px solid var(--color-primary);
  opacity: 90%;
  color: white;
  padding: 5px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.pokebox__left {
  float: left;
  width: 40%;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.pokeimg {
  background: var(--color-primary);
  border-radius: 50%;
}

.type-style {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.15em;
  font-size: 9pt;
  color: black;
  margin: 2px;
}

.type-style__normal {
  background-color:#A8A878;
}

.type-style__fire {
  background-color:#F08030;
}

.type-style__water {
  background-color:#6890F0;
}

.type-style__grass {
  background-color: #78C850;
}

.type-style__electric {
  background-color:#F8D030;
}

.type-style__ice {
  background-color:#98D8D8;
}

.type-style__fighting {
  background-color:#C03028
}

.type-style__poison {
  background-color: #A040A0;
}

.type-style__ground {
  background-color:#E0C068;
}

.type-style__flying {
  background-color:#A890F0;
}

.type-style__psychic {
  background-color:#F85888;
}

.type-style__bug {
  background-color:#A8B820;
}

.type-style__rock {
  background-color:#B8A038;
}

.type-style__ghost {
  background-color:#705898;
}

.type-style__dark {
  background-color:#705848;
}

.type-style__dragon {
  background-color:#7038F8;
}

.type-style__steel {
  background-color:#B8B8D0;
}

.type-style__fairy {
  background-color:#F0B6BC;
}

.pokedex {
  background-color: black;
  opacity: 95%;
  border-radius: 2px;
  border: 2px solid var(--color-primary);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: auto;
  width: 50%;
  min-width: 100px;
}

.pokedex__text {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.pokedex__box {
  text-align: center;
}

.pokedex__list {
  list-style-type: none;
  margin-left: -40px;
}

.pokedex__list li {
  display: block;
}

.formatted {
  border: none;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
  margin-left: -2px;
}
