:root {
  --color-primary: #7ae869;
  --color-secondary: #e8e869;
  --color-triary: #69b8e8;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/pokemon.png");
  font-family: 'Faustina', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16 pixels */
  line-height: 1.6;
  /* Sets the line height to 1.6 */
}

#search-button {
  color: black;
  background-color: var(--color-secondary);
  margin-top: 2px;
  margin-bottom: 8px;
}

.bg-black {
  background-color: black !important;
  opacity: 95%;
  border: 2px solid var(--color-triary);
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.list-btn {
  background-color: var(--color-primary);
  color: black;
  width: 100%;
  margin: 1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

.list-btn:hover, .list-btn:focus {
  cursor: pointer;
  opacity: 0.8;
}

.pokebox {
  margin: auto;
  box-sizing: border-box;
  background: black;
  border: 2px solid var(--color-primary);
  color: white;
  padding: 5px;
  width: 100%;
  max-width: 800px;
  height: 80%;
  text-align: center;
  overflow: auto;
}

.pokebox__left {
  float: left;
  height: 100%;
  min-height: 380px;
  width: 50%;
  border: 1px solid var(--color-primary);
  overflow: hidden;
}

.pokebox__right {
  float: right;
  height: 100%;
  min-height: 380px;
  width: 50%;
  border: 1px solid var(--color-primary);
  overflow: hidden;
}

.pokebox h1 {
  color: var(--color-primary);
}

.pokeimg {
  background: var(--color-primary);
  border-radius: 50%;
  width: 75%;
  height: 75%;
}

.type-style {
  border-style: solid none;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.15em;
  font-size: 9pt;
  color: black;
  margin: 2px;
}

.type-style__normal {
  background-color:#A8A878;
}

.type-style__fire {
  background-color:#F08030;
}

.type-style__water {
  background-color:#6890F0;
}

.type-style__grass {
  background-color: #78C850;
}

.type-style__electric {
  background-color:#F8D030;
}

.type-style__ice {
  background-color:#98D8D8;
}

.type-style__fighting {
  background-color:#C03028
}

.type-style__poison {
  background-color: #A040A0;
}

.type-style__ground {
  background-color:#E0C068;
}

.type-style__flying {
  background-color:#A890F0;
}

.type-style__psychic {
  background-color:#F85888;
}

.type-style__bug {
  background-color:#A8B820;
}

.type-style__rock {
  background-color:#B8A038;
}

.type-style__ghost {
  background-color:#705898;
}

.type-style__dark {
  background-color:#705848;
}

.type-style__dragon {
  background-color:#7038F8;
}

.type-style__steel {
  background-color:#B8B8D0;
}

.type-style__fairy {
  background-color:#F0B6BC;
}

.pokedex {
  background-color: black;
  opacity: 95%;
  border-radius: 2px;
  border: 2px solid var(--color-primary);
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: auto;
  width: 80%;
  min-width: 3px;
}

.pokedex-text {
  color: white;
  text-align: center;
}

.pokedex-box {
  text-align: center;
}

.formatted {
  border: none;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-decoration: none;
  padding: 32px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

.pokedex-list {
  list-style-type: none;
}

.menubox {
  display: none;
  border: 1px solid var(--color-secondary);
  color: white;
  width: 90%;
  padding: 5px;
  margin: 5px;
}

.menubox__visible {
  display: inline-block;
}

.menu__list {
  list-style-type: none;
}

.menu__list li {
  display: inline-block;
}

@keyframes rotate3D {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
