:root {
  --color-primary: #7ae869;
  --color-secondary: #e8e869;
  --color-triary: #69b8e8;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/pokemon.png");
  font-family: 'Faustina', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16 pixels */
  line-height: 1.6;
  /* Sets the line height to 1.6 */
}

#search-button {
  color: black;
  background-color: var(--color-secondary);
  margin-top: 2px;
  margin-bottom: 8px;
}

.bg-black {
  background-color: black !important;
  opacity: 95%;
  border: 2px solid var(--color-triary);
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.text-yellow {
  color: var(--color-secondary) !important;
}

.list-btn {
  background-color: var(--color-primary);
  color: black;
  width: 100%;
  margin: 1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

.list-btn:hover, .list-btn:focus {
  cursor: pointer;
  opacity: 0.8;
}

.list-btn__icon {
  width: auto;
  height: auto;
  border-radius: 50%;
  /*  background: linear-gradient(30deg, #2f3441 50%, #212531 50%) */
}

.close-btn {
  background-color: var(--color-secondary);
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

.close-btn:hover, .close-btn:focus {
  cursor: pointer;
  opacity: 0.8;
}

.pokebox {
  margin: auto;
  box-sizing: border-box;
  background: black;
  border: 2px solid var(--color-primary);
  color: white;
  padding: 5px;
  width: 100%;
  max-width: 800px;
  height: 80%;
  text-align: center;
  overflow: auto;
}

.pokebox__no-border {
  border: none;
}

.pokebox__left {
  float: left;
  height: 100%;
  min-height: 380px;
  width: 50%;
  border: 1px solid var(--color-primary);
  overflow: hidden;
}

.pokebox__right {
  float: right;
  height: 100%;
  min-height: 380px;
  width: 50%;
  border: 1px solid var(--color-primary);
  overflow: hidden;
}

.pokebox__footer {
  margin-top: 5px;
}

.pokebox h1 {
  color: var(--color-primary);
}

.pokeimg {
  background: var(--color-primary);
  border-radius: 50%;
  width: 75%;
  height: 75%;
}

.type-style {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.15em;
  margin: 2px;
  font-size: 9pt;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.generation-badge {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.1em;
  font-size: 9pt;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pokedex {
  background-color: black;
  opacity: 95%;
  border-radius: 2px;
  border: 2px solid var(--color-primary);
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: auto;
  width: 80%;
  max-width: 1134px;
}

.pokedex-text {
  color: white;
  text-align: center;
}

.pokedex-box {
  text-align: center;
}

.pokedex__footer {
  text-align: center;
}

.formatted {
  border: none;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

.formatted__secondary {
  margin-top: 30px;
}

.pokedex-list {
  list-style-type: none;
}

.menubox {
  display: none;
  border: 1px solid var(--color-secondary);
  color: white;
  width: 90%;
  padding: 5px;
  margin-bottom: 30px;
}

.menubox__visible {
  display: inline-block;
}

.menu__list {
  list-style-type: none;
}

.menu__list li {
  display: inline-block;
}

@keyframes rotate3D {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
