:root {
  --button-color-primary: #7ae869;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/pokemon.png");
  font-family: 'Faustina', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16 pixels */
  line-height: 1.6;
  /* Sets the line height to 1.6 */
}

button {
  border: none;
  display: inline-block;
  float: none;
  font-family: inherit;
  background-color: var(--button-color-primary);
  width: 135px;
  padding: 5px;
  border-radius: 2px;
  margin: 3px;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s opacity;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.pokedex {
  background-color: black;
  opacity: 95%;
  border-radius: 2px;
  border: 2px solid var(--button-color-primary);
}

.pokedex__text {
  color: white;
  text-align: center;
}

.pokedex__box {
  text-align: center;
}

.pokedex__list {
  list-style-type: none;
  margin-left: -40px;
}

.pokedex__list li {
  display: block;
}
